<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Tutor">
        <meta name="author" content="Augustin Pilard Zen">
		<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
   		<!-- Include CSS	-->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
		<!-- Include JS	-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% block include %}{% endblock %}
        <title>Tutor</title>
    </head>
    <body>
		<div class="topnav" id="myTopnav">
				<a id="img_nav" href="/home">
					<img src="{% static '/images/logo.png' %}" alt="logo_esaip">Tutor'<b id="e">e</b>saip
				</a>
				<a id="divider-vertical"></a>
				{% block menu %}{% endblock %}
			    <a href="/logout" id="logout">Déconnexion</a>
			
				<a href="javascript:void(0);" class="icon" onclick="myFunction()">
					<i class="fa fa-bars"></i>
		  		</a>
		</div>
		<script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
			x.className += " responsive";
		  } else {
			x.className = "topnav";
		  }
		}
		</script>
		
        {% block content %}{% endblock %}
    </body>
</html>