<!DOCTYPE html>
{% extends "global.html" %}
{% load static %}
{% block include %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <script src="{% static 'js/sendData.js' %}"></script>
{% endblock %}
{% block menu %}
    <a href="/search">Recherche</a>
    <a href="/profil" class="profil">Profil</a>
{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenue</h1>
        <p class="lead">Sur cette plateforme vous pourrez gérer vos séances de tutorat et avoir des bonnes notes, merci
            ne nous remerciez pas !</p>
		<button id="myBtn" type="button">
  			<span>Ajouter un cours</span>
		</button>
    </div>
    <div class="contenant">
        <div class="droite">
            <h2>Vos Inscriptions</h2>
			<div class="container">
            {% for cour in follow_lesson %}
                <div class="card bg-info">
                    <div class="card-body">
						<div onclick="deleteLesson({'id':'{{ cour.lessonID_id }}', 'csrfmiddlewaretoken' : '{{ csrf_token }}'})" class="div_close">
							<span class="close_cours">&times;</span>
						</div>
                        <h4 class="card-title">{{ cour.lessonID.nom }}</h4>
                        <p class="card-text"><b>Tuteur :</b> {{  cour.profileID.user.username }}</p>
                        <p class="card-text"><b>Date :</b> {{ cour.lessonID.date }}</p>
                        <p class="card-text"><b>Heure début :</b> {{ cour.lessonID.begin }}</p>
                        <p class="card-text"><b>Heure fin :</b> {{ cour.lessonID.end }}</p>
                        <p class="card-text"><b>Salle : </b>{{ cour.lessonID.salle }}</p>
                        <p class="card-text"><b>Description :</b> {{ cour.lessonID.sujet }}</p>
                    </div>
                </div>
            {% endfor %}
			</div>
        </div>
        <div class="gauche">
            <h2>Vos responsabilités</h2>
			<div class="container">
				{% for cour in teacher_lesson %}
                <div class="card bg-danger">
                    <div class="card-body">
						<div onclick="deleteLesson({'id':'{{ cour.lessonID_id }}', 'csrfmiddlewaretoken' : '{{ csrf_token }}'})" class="div_close">
							<span class="close_cours">&times;</span>
						</div>
                        <h4 class="card-title">{{ cour.lessonID.nom }}</h4>
                        <p class="card-text"><b>Tuteur :</b> {{ cour.profileID.user.username }}</p>
                        <p class="card-text"><b>Date :</b> {{ cour.lessonID.date }}</p>
                        <p class="card-text"><b>Heure début :</b> {{ cour.lessonID.begin }}</p>
                        <p class="card-text"><b>Heure fin :</b> {{ cour.lessonID.end }}</p>
                        <p class="card-text"><b>Salle :</b> {{ cour.lessonID.salle }}</p>
                        <p class="card-text"><b>Description :</b> {{ cour.lessonID.sujet }}</p>
                    </div>
					
				</div>
				{% endfor %}
			</div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="main">
                <section class="signup">
                    <div class="container">
                        <div class="signup-content">
                            <form action="#" method="post" id="signup-form" class="signup-form">
                                 {% csrf_token %}
                                <h2 class="form-title">Création d'un cours</h2>
                                <h3>Vous serez responsable de ce cours !</h3>
                                <div class="form-group flex">
                                    {{ lessonform.name }}
                                    {{ lessonform.room }}
                                </div>
                                <div class="form-group flex">
                                    <div class="classe_select">
                                        {{ lessonform.date }}
                                    </div>
                                </div>
                                <div class="form-group flex" id="ze">
                                    <div class="classe_select">
                                        {{ lessonform.begin }}
                                    </div>
                                    <div class="classe_select">
                                        {{ lessonform.end }}
                                    </div>
                                </div>
                                <div class="form-group flex">
                                    <div class="classe_select">
                                        {{ lessonform.promo }}
                                    </div>
                                </div>
                                <div class="form-group flex">
                                    <div class="classe_select">
                                        {{ lessonform.campus }}
                                    </div>
                                </div>
                                <div class="form-group flex">
                                    <div class="classe_select">
                                        {{ lessonform.subject }}
                                    </div>
                                </div>
                                <div id="divbtn">
                                    <button type="submit" id="submit" class="form-submit" name="submit">Enregistrer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        // Get the modal Add
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var submit_btn = document.getElementById("submit")
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.display = "block";
        }
        // submit_btn.onclick = function () {
        //    refreshhhhhh();
        //}
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
			 if (event.target == modal_help) {
                    modal_help.style.display = "none";
                }
        }
		
    </script>

{% endblock %}
