<!DOCTYPE html>
{% extends "global.html" %}
{% load static %}

{% block include %}
		<!-- Include CSS	-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/profil.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
		<!-- Include JS	-->
		<script src="jquery-3.5.1.min.js"></script>
{% endblock %}
{% block menu %}
        <a href="/add">Ajout Cours</a>
        <a href="/search">Recherche</a>
		<a href="/profil" class="profil" id="active">Profil</a>
{% endblock %}
{% block content %}
<div class="main" id="content">
				<section class="signup">
					<div class="container">
						<div class="signup-content">
							<form action="#" method="post" id="signup-form" class="signup-form">
								<h2 class="form-title">Mon profil</h2>
								{% csrf_token %}
								<div class="form-group flex">
									<div class="classe_select">
										<label for="{{ form.promo.id_for_label }}">Promo: </label>
										{{ form.promo }}
									</div>
									<div class="classe_select">
										<label for="{{ form.campus.id_for_label }}">Campus: </label>
                    					{{ form.campus }}
									</div>
								</div>
								<div class="form-group flex">
									
								</div>
								<div id="divbtn">
									<button type="submit"  id="submit" class="form-submit" name="submit">Enregistrer</button>
								</div>
								<p>vous avez donné {{ nbr_heure }}h de cours.</p>
							</form>
						</div>
					</div>
			</section>
		</div>

{% endblock %}