{% extends "global.html" %}
{% load static %}

{% block insert %}
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/accueil.css"%}">
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h2 class="display-4">Rechercher un cours</h2>
        <hr class="my-4">

        <div class="container text-left">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ searchform.name }}
                    {{ searchform.promo }}
                    {{ searchform.campus }}
                    {{ searchform.date }}
                </div>
                <div id="divbtn">
                    <button type="submit"  id="submit" name="submit">Chercher</button>
                </div>
            </form>
            {% if lessons %}
            <div>
                <h2 class="text-center">Cours trouvé</h2>
                {% for lesson in lessons %}
                    <div class="jumbotron">
                        <hr class="my-4">
                        <p>{{ lesson.nom }}</p>
                        <p>{{ lesson.sujet }}</p>
                        <p>Ce cours aura lieu le {{ lesson.date }} de {{ lesson.begin }} à {{ lesson.end }}</p>
                        <hr class="my-4">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}