<!DOCTYPE html>
{% extends "global.html" %}
{% load static %}
{% block include %}
	<!-- Include CSS	-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/search.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
	<!-- Include JS	-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
	<script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
	<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
{% endblock %}
{% block menu %}
        <a href="/search" id="active">Recherche</a>
		<a href="/profil" class="profil">Profil</a>
{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h2 class="display-4">Prochaines séances</h2>
        <hr class="my-4">
        <br/>
        <div class="container text-left">
            <div id="calendar"></div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div id="modal-content" class="modal-content">
            <span class="close">&times;</span>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var sentence
            var calendar = $('#calendar').fullCalendar({
                editable: false,
                minTime: '08:00:00',
                firstDay: 1,
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Grille',
                    week: 'Semaine',
                    day: 'jour',
                    list: 'Liste'
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay',
                },
                monthNames: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aout', 'Sept', 'Oct', 'Nov', 'Dec'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                height: "auto",
                events: "/load_search/",
                displayEventTime: false,
                allDayText: 'Toute la journée',
                noEventsMessage: 'Aucun Évenement',
                eventRender: function (event, element) {
                    element.find('.fc-title').append("<br/><b>Tuteur: " + event.teacher);
                },
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    /*     var title = prompt("Enter Event Title");
                    if(title)
                    {
                    var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                    $.ajax({
                    url:"insert.php",
                    type:"POST",
                    data:{title:title, start:start, end:end},
                    success:function()
                    {
                    calendar.fullCalendar('refetchEvents');
                    alert("Added Successfully");
                    }
                    })
                    }*/
                },

                eventResize: function (event) {
                    /*     var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    var title = event.title;
                    var id = event.id;
                    $.ajax({
                    url:"update.php",
                    type:"POST",
                    data:{title:title, start:start, end:end, id:id},
                    success:function(){
                    calendar.fullCalendar('refetchEvents');
                    alert('Event Update');
                    }
                    })*/
                },

                eventDrop: function (event) {
                    /*     var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    var title = event.title;
                    var id = event.id;
                    $.ajax({
                    url:"update.php",
                    type:"POST",
                    data:{title:title, start:start, end:end, id:id},
                    success:function()
                    {
                    calendar.fullCalendar('refetchEvents');
                    alert("Event Updated");
                    }
                    });*/
                },

                eventClick: function (event) {
                    var modal = document.getElementById("myModal");
                    var btn = document.getElementById("myBtn");
                    modal.style.display = "block";

                    var content = document.getElementById("modal-content");
                    var title = event.title;
                    var tuteur = event.teacher;
                    var nbParticipant = event.participant;
                    var salle =event.salle;
                    var description = event.description;
                    content.innerHTML = "<span class=\"close\">&times;</span>" +
                        "<h4>"+title+"</h4>" +
                        "<p> Tuteur : " + tuteur + "</p>" +
                        "<p> Nombre de particiapant : " + nbParticipant + "</p>" +
                        "<p> Salle : " + salle + "</p>" +
                        "<p> Description : " + description + "</p>" +
                        "<button onclick=\"window.location.href = '/load_search/" + event.id + "';\"> s'inscrire </button>";
                    // When the user clicks on <span> (x), close the modal
                    var span = document.getElementsByClassName("close")[0];
                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                },
            });
        });
    </script>
{% endblock %}