/* CSS Document */
.gauche {
	float:left;
	margin-left: 1%;
	width:60%;
	height: inherit;
}
.droite {
	float:right;
	height: inherit;
	margin-right: 7%;
}
.contenant{
	text-align: center;
	height: auto; 
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 58%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Modal */
.modal_help {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content_help {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close_help {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_help:hover,
.close_help:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.main_help{
	margin-top: 52px;
    padding-bottom: 3%;
}

.container_help {
  width: 660px;
  position: relative;
  margin: 0 auto; 
}
.signup-content_help {
  background: #fff; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
	border-radius: 10px;
  padding: 50px 85px; 
}




/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center {
  display: flex;
  display: -webkit-flex; 
}

/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.main{
	margin-top: 52px;
    padding-bottom: 3%;
}
.flex {
  display: flex;
}
input:focus, select:focus {
  outline: none;
  
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; 
	box-shadow: none !important;
}
.class {
  display: none;
}
#name {
  margin-right: 20px;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; }

.clear {
  clear: both; 
}

.container {
  width: 660px;
  position: relative;
  margin: 0 auto; 
}
.signup-content {
  background: #fff; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
	border-radius: 10px;
  padding: 50px 85px; 
}

.form-input {
	  width: 100%;
	  border: 1px solid #ebebeb;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  -o-border-radius: 5px;
	  -ms-border-radius: 5px;
	 border-radius: 5px;
	  padding: 17px 20px;
	  box-sizing: border-box;
	  font-size: 14px;
	  font-weight: 500;
	  color: #22222282;
	margin: 3px 3px;
}
#id_date,#id_begin,#id_end,#id_promo, #id_campus{
	width: 100%;
    border: 1px solid #ebebeb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
	border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #22222282;
}
.classe_select{
	width: -webkit-fill-available;
	margin: 3px 3px;
}

.form-input::-webkit-input-placeholder {
  color: #999;
}
.form-input::-moz-placeholder {
  color: #999; 
}
.form-input:-ms-input-placeholder {
  color: #999; 
}
.form-input:-moz-placeholder {
  color: #999; 
}
.form-input::-webkit-input-placeholder {
  font-weight: 500; 
}
.form-input::-moz-placeholder {
  font-weight: 500; 
}
.form-input:-ms-input-placeholder {
  font-weight: 500; 
}
.form-input:-moz-placeholder {
  font-weight: 500; 
}
.form-input:focus {
  border: 1px solid transparent;
  -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
  -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
  -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
  border-image-source: linear-gradient(to right, #9face6, #74ebd5);
  -webkit-border-image-slice: 1;
  border-image-slice: 1;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
	border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box; 
  color: #222 ;
}
.form-input:focus::-webkit-input-placeholder {
  color: #222; 
}
.form-input:focus::-moz-placeholder {
  color: #222;
}
.form-input:focus:-ms-input-placeholder {
  color: #222; 
}
.form-input:focus:-moz-placeholder {
  color: #222; 
}

.form-submit {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
	border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background: -webkit-linear-gradient(to bottom right, #75b5c5 0%, #009bc2 100%);
  background: -moz-linear-gradient(to bottom right, #75b5c5 0%, #009bc2 100%);
  background: -o-linear-gradient(to bottom right, #75b5c5 0%, #009bc2 100%);
  background: linear-gradient(to bottom right, #75b5c5 0%, #009bc2 100%);
}

@media screen and (max-width: 768px) {
  .container, .container_help {
    width: calc(100% - 40px);
    max-width: 100%; 
  } 
	body {
		overflow: inherit;
	}
	.flex {
    	display: inherit;
	}
	.droite{
		float: inherit;
		width: 100%;
	}
	.gauche{
		float: inherit;
		width: 98%;
		height: 100%;
	}
	.main, .main_help{
		width: auto;
	}
	.modal-content{
		width: 90%;
	}
	.signup-content, .signup-content_help {
		padding: inherit;
	}
	.flex {
    display: inherit;
	}
}

