body{
	background-color: #eee;
}

/* Page de connexion */


#loginbox{
margin-top:25%;
}
.panel-info {
background-color: #e9ecef;
margin-bottom: 0;
padding-bottom: 70px;
border:none;
}
#loginbox > div > div { /*panel body*/
padding-top:30px;
}
#login-alert{
display:none;
}
#loginform > div{
margin: 12.5px 0 12.5px;
}


