.jumbotron {
	margin-bottom: inherit;
}
body{
	background-color: #eee;
}
.form-submit {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
	border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background: -webkit-linear-gradient(to bottom right, #75b5c5 0%, #009bc2 100%);
  background: -moz-linear-gradient(to bottom right, #75b5c5 0%, #009bc2 100%);
  background: -o-linear-gradient(to bottom right, #75b5c5 0%, #009bc2 100%);
  background: linear-gradient(to bottom right, #75b5c5 0%, #009bc2 100%);
}
/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;

}

/* The Close Button */
.close_help {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_help:hover,
.close_help:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.main_help{
	margin-top: 52px;
    padding-bottom: 3%;
}

.container_help {
  width: 660px;
  position: relative;
  margin: 0 auto; 
}
.signup-content_help {
  background: #fff; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
	border-radius: 10px;
  padding: 50px 85px; 
}
h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; }


@media screen and (max-width: 768px) {
  .container_help {
    width: calc(100% - 40px);
    max-width: 100%; 
  } 
	body{
		overflow: inherit;
	}
	.main, .main_help{
		width: auto;
	}
	.modal-content{
		width: 90%;
	}
	#myBtn{
		margin-top: 10%;
	}
	.signup-content, .signup-content_help {
		padding: inherit;
	}
}

@media screen and (max-width: 1800px) {
	.modal-content_help{
		width: 90%;
	}
}